.carousel-inner img {
  width: 1500px;
  height: 500px;
}

#h3{
  font-size: x-large;
}
  
#big{
  font-size: xxx-large;
}
  
  /* Flip-card css code can be found at https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */
  
.container1{
  width: 400px;
}
  
/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
} */
  
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
  
.map{
  height: 400px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.background{
  background-color: white;
  height: 1000px;
      
}
  
.center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
.center{
  text-align: center;
}